#encrypter-step-1-wrapper {
	margin-bottom: 30%;
}

#encrypter-step-1-wrapper h3 {
	font-size: 48px;
	color: white;
	text-align: center;
}

#encrypter-step-1-wrapper div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#encrypter-step-1-wrapper button {
	font-size: 24px;
	margin-bottom: 2%;
	border: none;
	width: 25%;
}
