.result-container {
	width: 100%;
	height: 50px;
	background-color: #3b3b98;
	position: relative;
}

.clipboard-button {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
	color: white;
}

.generated-password {
	font-size: 36px;
	color: white;
}

#generate-password-button {
	width: 100%;
	height: 40px;
	background-color: #3b3b98;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.password-generator-applet-title {
	color: white;
}
