.tools-page-content-wrapper {
	position: absolute;
	top: 10%;
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	overflow: hidden auto;
}

/* PASSWORD GENERATOR STYLES START*/

.password-generator-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.25fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'password-generator-title password-generator-title password-generator-applet password-generator-applet'
		'password-generator-description password-generator-description password-generator-applet password-generator-applet';
	justify-items: center;
	padding-bottom: 2%;
	width: 90%;
	margin: auto;
	border-bottom: rgba(128, 128, 128, 0.5) 5px solid;
}
.password-generator-title {
	grid-area: password-generator-title;
	color: white;
	font-size: 48px;
	margin-top: 0%;
	margin-bottom: 0%;
}
.password-generator-description {
	grid-area: password-generator-description;
	text-align: center;
	width: 60%;
	color: white;
	font-size: 18px;
	margin-top: 0%;
}
.password-generator-wrapper ol {
	text-align: left;
}
.password-generator-wrapper li {
	margin-top: 2%;
}

.password-generator-applet {
	grid-area: password-generator-applet;
	background-color: #23235b;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	width: 70%;
	max-width: 100%;
	padding: 5%;
}
/* PASSWORD GENERATOR STYLES END*/

/* FILE ENCRYPTER STYLES START*/
.file-encrypter-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.25fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'file-encrypter-title file-encrypter-title file-encrypter-applet file-encrypter-applet'
		'file-encrypter-description file-encrypter-description file-encrypter-applet file-encrypter-applet';
	justify-items: center;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 90%;
	margin: auto;
	border-bottom: rgba(128, 128, 128, 0.5) 5px solid;
}
.file-encrypter-title {
	grid-area: file-encrypter-title;
	color: white;
	font-size: 48px;
	margin-top: 0%;
	margin-bottom: 0%;
}
.file-encrypter-description {
	grid-area: file-encrypter-description;
	text-align: center;
	width: 60%;
	color: white;
	font-size: 18px;
	margin-top: 0%;
}
.file-encrypter-applet {
	grid-area: file-encrypter-applet;
	background-color: #23235b;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	width: 70%;
	height: 440px;
	max-width: 100%;
	padding: 5%;
}
/* FILE ENCRYPTER STYLES END*/

/*EXTERNAL TOOLS STYLES START*/
.tools-resources-wrapper {
	display: flex;
	flex-direction: column;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 90%;
	margin: auto;
}

.tools-resources-title {
	font-size: 48px;
	color: white;
	margin-top: 0;
}

.tools-resources-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
