.accordion-wrapper {
	width: 100%;
}
.accordion {
	background-color: #1b1f38;
	color: white;
	cursor: pointer;
	width: 100%;
	padding: 18px;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.active,
.accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	display: none;
	transition: max-height 0.2s ease-out;
	display: block;
	color: black;
}

/* .panel a {
	color: black;
	text-decoration: none;
	background-color: white;
} */
