@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body,
html,
#root,
.App {
	margin: 0;
	padding: 0;
	background-color: #232741;
	height: 100%;
	font-family: 'Fira Sans', sans-serif;
}
