.card-wrapper {
	background-color: #23235b;
	width: 400px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
	color: white;
	margin: 0;
	padding: 5%;
	text-align: center;
	background-color: #4f67ff;
	border-radius: 10px 10px 0 0;
}

.card-image-wrapper {
	border-radius: 10px 10px 0 0;
}

.card-image {
	width: 100%;
	height: 225px;
}

.card-description-wrapper {
	color: white;
	padding: 5%;
}
