#data-page-wrapper {
	position: absolute;
	top: 10%;
	margin: 0 auto;
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

#data-page-wrapper::-webkit-scrollbar {
	width: 24px;
}

#data-page-wrapper::-webkit-scrollbar-track {
	background-color: #4f67ff;
	border-radius: 5px;
}

#data-page-wrapper::-webkit-scrollbar-thumb {
	background: #314aeb;
	border-radius: 5px;
}
