#encryption-steps-container {
	background-color: #23235b;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	width: 500px;
	max-width: 100%;
	padding: 5%;
}

#encrypter-applet-content-wrapper {
	height: 90%;
}

#encrypter-applet-content-wrapper h3 {
	color: white;
}

.encrypter-applet-content-title {
	color: white;
}

.encryption-option-steps-wrapper,
.decryption-option-steps-wrapper {
	display: none;
}
