#encryption-steps-container {
	background-color: #23235b;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	width: 500px;
	max-width: 100%;
	padding: 5%;
}

#encrypter-applet-content-wrapper {
	height: 90%;
}

#encrypter-applet-content-wrapper h3 {
	color: white;
}

.encrypter-applet-content-title {
	color: white;
}

.download-link {
	color: white;
}

#password-input-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 60%;
}

#encrypter-applet-navigation {
	display: flex;
	justify-content: space-evenly;
}

.encrypter-nav-button {
	width: 90px;
	height: 50px;
	background-color: #3b3b98;
	border: none;
	color: white;
	border-radius: 5px;
}

.active {
	background-color: #3b3b9880;
}

.active:hover {
	background-color: #3b3b98;
}

.disabled {
	background-color: #5d5d83;
}

#password-input-wrapper h3 {
	font-size: 36px;
}

#file-upload-wrapper,
#encrypt-decrypt-wrapper,
#download-wrapper {
	display: none;
}

#show-steps-wrapper {
	display: flex;
	justify-content: flex-end;
}

#show-steps-wrapper button {
	width: 90px;
	height: 30px;
	background-color: #5f5fce;
	color: white;
	border: none;
}

#show-next-button,
#show-previous-button {
	display: none;
}
