#learn-nav-container {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	width: 100%;
	top: 7%;
	background-color: #1b1f38b0;
}

#learn-nav-container a {
	margin: 0 3%;
}

#learn-nav-container img {
	width: 40px;
	height: 40px;
}
