.img-link-container {
	margin: 0 5%;
}

.img-link {
	width: 100%;
	height: 100%;
}

.img-link:hover {
	border-radius: 50%;
	box-shadow: 0 0 0 7px #e78267;
	transition: box-shadow 0.5s;
}

#Learn-Home-Topic-Links {
	position: absolute;
	width: 100%;
	top: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-link-title {
	text-align: center;
	color: white;
	font-size: 36px;
}

#learn-home-title {
	position: absolute;
	width: 100%;
	top: 8%;
	color: white;
	font-size: 64px;
	text-align: center;
}
