/*Targets the wrapper div of the entire Header component*/
#header-wrapper {
	display: flex;
	position: absolute;
	width: 100%;
	background-color: rgba(20, 24, 49, 0.534);
	height: 7%;
}

/*Targets the image of the Header component directly*/
#header-home-logo {
	width: 50px;
	height: 50px;
	padding: 5px;
}

/*Targets the Header component's text (right next to the logo) directly*/
#header-text {
	font-size: 24px;
	color: white;
	margin-right: 1%;
}
